.aradia {
	color: #a10000ff;
}

.dave {
	color: #e00707ff;
}

.default {
	color: #000000ff;
}

.dirk {
	color: #f2a400ff;
}

.equius {
	color: #000056ff;
}

.eridan {
	color: #6a006aff;
}

.feferi {
	color: #77003cff;
}

.gamzee {
	color: #2b0057ff;
}

.hal {
	color: #e00707ff;
}

.jade {
	color: #4ac925ff;
}

.jake {
	color: #1f9400ff;
}

.jane {
	color: #00d5f2ff;
}

.john {
	color: #0715cdff;
}

.kanaya {
	color: #008141ff;
}

.karkat {
	color: #626262ff;
}

.lilhal {
	color: #f2a400ff;
}

.nepeta {
	color: #416600ff;
}

.rose {
	color: #b536daff;
}

.roxy {
	color: #ff6ff2ff;
}

.scratch {
	color: #ffffffff;
}

.scratch[data-highlight="true"] {
	background-color: #03460eff;
}

.sollux {
	color: #a1a100ff;
}

.tavros {
	color: #a15000ff;
}

.terezi {
	color: #008282ff;
}

.vriska {
	color: #005682ff;
}